<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-center mb-5">Add New User</h2>

              <form [formGroup]="form">
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg">Your Firstname</label>
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" formControlName="firstName"/>
                  <div *ngIf="form.get('firstName')?.invalid && form.get('firstName')?.touched">
                    <mat-error>Firstname is required!</mat-error>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Your Lastname</label>
                  <input type="text" id="form3Example3cg" class="form-control form-control-lg" formControlName="lastName" />
                  <div *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
                    <mat-error>Last Name is required!</mat-error>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Your Age</label>
                  <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="age" />
                  <div *ngIf="form.get('age')?.invalid && form.get('age')?.touched">
                    <mat-error>Age is required!</mat-error>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cg">Add Profile Picture Link</label>
                  <input type="text" id="form3Example4cg" class="form-control form-control-lg" formControlName="profilePic" />
                  <div *ngIf="form.get('profilePic')?.invalid && form.get('profilePic')?.touched">
                    <mat-error>ProfilePic is required!</mat-error>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="description"></textarea>
                  <div *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
                    <mat-error>Description is required!</mat-error>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" (click)="submit()">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
