<div class="container mt-5">

  <div class="row d-flex justify-content-center">
    <div class="col-md-7">
      <div class="card p-3 py-4">
        <div class="text-center">
          <img [src]="currentUsr?.profilePic" width="200" class="rounded-circle">
        </div>
        <div class="text-center mt-3">
          <span class="bg-secondary p-1 px-4 rounded text-white">{{currentUsr?.firstName}} {{currentUsr?.lastName}}</span>
          <h5 class="mt-2 mb-0">Age: {{currentUsr?.age}}</h5>
          <span>{{currentUsr?.description}}</span>
          <hr>

          <h3>Add friend</h3>
          <mat-form-field>
            <mat-label>Choose your friend</mat-label>
            <mat-select #selectedUser="ngModel" [(ngModel)]="selectedUserId">
              <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user.id">
                {{ user.firstName }} {{ user.lastName }}
              </mat-option>
            </mat-select>
            
            
          </mat-form-field>
          <button mat-button color="primary" (click)="submit()">Submit</button>
          
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container profile-page mt-5">
  <div class="row">
    <div class="col-xl-6 col-lg-7 col-md-12" *ngFor="let friend of userFriends">
      <div class="profile-card profile-header">
        <div class="body">
          <div class="row">

                        
            <div  class="col-lg-4 col-md-4 col-12">
              <div    class="profile-image float-md-right">
                <img class="cursor" [src]="friend.profilePic" alt="" (click)="switchCurrentUser(friend.id)">
              </div>
            </div>
            <div class="col-lg-8 col-md-8 col-12">
              <h4 class="m-t-0 m-b-0">
                <strong>{{ friend.firstName }}, {{ friend.lastName }}</strong>
              </h4>
              <h4>Age: {{ friend.age }}</h4>
              <p>{{ friend.description }}</p>
              <button  class="btn btn-round btn-gray" (click)="switchCurrentUser(friend.id)">Show Profile</button>

              <button mat-raised-button color="warn"  (click)="deleteFriend(friend.id)">Delete {{friend.firstName}}</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



